/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* VARIABLES */
:root {
  --primary-color: #FFFFFF;
  --secondary-color:#44586e ;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.54;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
  padding: 0rem 16rem;
}

img[src="/Gallery/checkt-banner.png"] {
  width: 100%;
  height: auto;
  padding: 0rem;
}

/* UTILITY CLASSES */
.container {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: auto;
  overflow: hidden;
}

/* ABOUT PAGE */
#about {
  max-height: 100%;
  max-width: 100%;
  background-image: linear-gradient(to right, #E186B4, #BDD8FE);
}

#navbar {
  background-color: var(--primary-color);
  color: #BDD8FE;
  padding: 0rem 3rem;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
}

#navbar ul {
  list-style: none;
  display: flex;
}

#navbar ul a {
  display: inline-block;
  padding: 1.2rem 2rem;
  text-decoration: none;
  color: #BDD8FE;
  font-size: 1.4rem;
  font-weight: 500;
}

#navbar ul a:hover {
  background-color: #44586e;
}

#about .container {
    background-color: var(--primary-color);
    color: #BDD8FE;
    padding: 0rem 3rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
}

.greeting {
  font-size: 3rem;
  color: #44586e;
  font-weight: bold;
}

#project-title {
  color: #BDD8FE;
  font-size: 4.6rem;
  font-weight: bolder;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding: 3rem 3rem 2rem 16rem;
}

#wireframes img {
  padding: 0rem 16rem 3rem 16rem;
}

#subtitle {
  color: #BDD8FE;
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.2;
  padding: 3rem 36rem 3rem 16rem;
}

#subsubtitle {
  color: #E186B4;
  font-size: 2rem;
  line-height: 1.2;
  padding: 0rem 36rem 3rem 16rem;
}

.lead {
  font-size: 1.5rem;
  color: #44586e;
  font-weight: 100;
  padding: 0rem 36rem 2rem 16rem;
}

.lead b {
    color: #E186B4;
    font-weight: bold;
  }

#body {
  font-size: 1rem;
  color: #44586e;
  font-weight: bold;
  padding: 0rem 36rem 2rem 16rem;
  line-height: 1.8;
}

/* FOOTER SECTION */
#main-footer {
  border-top: solid 4px var(--primary-color);
  padding: 1rem;
  background-color: #444;
  color: #fff;
}

#main-footer .container {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

#main-footer .container p {
  font-size: 1.2rem;
}

#main-footer #creator a {
  text-decoration: underline;
  color: #eee;

  line-height: 1.5;
}

/* SMARTPHONE */
@media (max-width: 600px) {
  #navbar {
    padding: 0rem 1rem;
    justify-content: center;
  }

  #projects .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  #contact .container p {
    margin-bottom: 1.5rem;
  }

  #contact .container .social>div a {
    display: block;
    margin: 1rem 1.5rem;
  }

  #main-footer .container {
    flex-direction: column;
  }

  #main-footer #creator {
    margin-top: 1rem;
  }
}